<ion-view view-title="Inicio">
    <ion-content class="padding">
        <h2>Lámparas Jahn en Automechanika Frankfurt </h2>
        <img ng-src="img/jahnfrankfurt2016-2c.jpg" style="width: 300px; height: 200px;">
        <p>
            Participamos con el stand de lámparas JAHN Germany en la feria Automechanika Frankfurt 2016,
            reconfirmando una vez más nuestro vínculo como representantes exclusivos para Argentina. 
            De izquierda a derecha: Antonio Berlinches, Luis Weyer y Tom Weickert.   
        </p>

        <h2>Bobinas de ignición HELLUX </h2>
        <img ng-src="img/Hellux6.jpg" style="width: 200px; height: 200px">
        <p>
            Julio 2016: Incorporamos el programa completo de bobinas de ignición Hellux. 
        </p>
    </ion-content>
</ion-view>
